@import url('https://fonts.googleapis.com/css?family=Josefin Sans');

 body {
   font-family: Josefin Sans;
 }

#app-overview {
  width: 608px;
}

#reservation {
    width: 350px;
    position:fixed;
    margin-top: 166px;
    margin-right: 265px;
    top:0;
    right:0;
}

#menu {
  margin-top: 100px;
  margin-left: 200px;
 }

 #app-reviews {
  margin-top: 100px;
  margin-left: 200px;
}
