@import url('https://fonts.googleapis.com/css?family=Josefin Sans');

 body {
   font-family: Josefin Sans;
   /* max-width: 600px;
   margin-left: 360px;
   margin-top: 200px; */

 }

 #reservation {
  display: block;
  margin-bottom: 50px;
  /* float:right; */

}

#app-overview {

  display: block;
  margin-bottom: 50px;
}

#menu {
  display: block;
  margin-bottom: 50px;
}

#app-reviews {
  display: block;
  margin-bottom: 50px;
}

